.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    place-items: center;

    background-color: var(--color-neutral-9);
}
