.reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-3);

    form {
        background-color: var(--color-neutral-10-50);
        padding: var(--size-5);
        border-radius: var(--size-2);
    }
}

@media (max-width: 540px) {
    .reset-password {
        form {
            padding: var(--size-3);
            gap: var(--size-2);
        }
    }
}
