nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    background-color: var(--color-primary-darkest-50);
    padding: 1rem;

    a {
        color: var(--color-primary-darkest);
        text-decoration: none;
        font-weight: bold;
    }

    .active {
        color: var(--color-primary-light);
        border-bottom: 2px solid var(--color-primary-light);
    }
    .logo {
        margin-right: auto;
    }
}
