.modal-background {

    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-neutral-1-50);
    backdrop-filter: blur(var(--size-1));
}

.modal-content {
    background-color: var(--color-neutral-8);
    width: 100%;
    max-width: var(--size-15);
    min-height: var(--size-10);
    border-radius: var(--size-1);

    padding: var(--size-3);

    display: grid;
    place-items: center;
}
