.register-form {
    background-color: var(--color-neutral-10-50);
    padding: var(--size-5);
    border-radius: var(--size-2);
}

@media (max-width: 540px) {
    .register-form {
        padding: var(--size-3);
        gap: var(--size-2);
    }
}

@media (max-width: 350px) {
    .register-form {
        padding: 0;
        background-color: transparent;
    }
}
