.layout {
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: var(--size-7) auto;
    gap: var(--size-3);
}

.layout-header {
    grid-column: span 12;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    background-color: var(--color-neutral-8);
    padding: var(--size-3);
    border-radius: var(--size-2);

    a {
        max-width: calc(var(--size-7) - var(--size-3));
        border-radius: var(--size-1);
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }
}
