:root {
    --size-base: 16px;

    /* Text */
    --text-body-small: calc(var(--size-base) * 0.875);
    --text-body-medium: calc(var(--size-base) * 1);
    --text-body-large: calc(var(--size-base) * 1.25);

    --text-heading-small: calc(var(--size-base) * 1.5);
    --text-heading-medium: calc(var(--size-base) * 2);
    --text-heading-large: calc(var(--size-base) * 3);
    --text-heading-xl: calc(var(--size-base) * 4);

    /* Sizes */
    --size-0: 0;
    --size-1: calc(var(--size-base) * 0.25);
    --size-2: calc(var(--size-base) * 0.5);
    --size-3: calc(var(--size-base) * 1);
    --size-4: calc(var(--size-base) * 1.5);
    --size-5: calc(var(--size-base) * 2);
    --size-6: calc(var(--size-base) * 3);
    --size-7: calc(var(--size-base) * 4);
    --size-8: calc(var(--size-base) * 6);
    --size-9: calc(var(--size-base) * 8);
    --size-10: calc(var(--size-base) * 10);
    --size-11: calc(var(--size-base) * 13);
    --size-12: calc(var(--size-base) * 16);
    --size-13: calc(var(--size-base) * 19);
    --size-14: calc(var(--size-base) * 22);
    --size-15: calc(var(--size-base) * 25);
    --size-16: calc(var(--size-base) * 30);
    --size-17: calc(var(--size-base) * 40);
    --size-18: calc(var(--size-base) * 50);
    --size-19: calc(var(--size-base) * 60);
    --size-20: calc(var(--size-base) * 75);

    /* Colors */
    --color-primary-1: hsl(263, 85%, 18%);
    --color-primary-2: hsl(262, 72%, 25%);
    --color-primary-3: hsl(262, 69%, 31%);
    --color-primary-4: hsl(262, 60%, 38%);
    --color-primary-5: hsl(262, 48%, 46%);
    --color-primary-6: hsl(262, 43%, 51%);
    --color-primary-7: hsl(261, 47%, 58%);
    --color-primary-8: hsl(261, 54%, 68%);
    --color-primary-9: hsl(261, 68%, 84%);
    --color-primary-10: hsl(262, 61%, 93%);

    --color-primary-1-50: hsla(263, 85%, 18%, 0.5);
    --color-primary-2-50: hsla(262, 72%, 25%, 0.5);
    --color-primary-3-50: hsla(262, 69%, 31%, 0.5);
    --color-primary-4-50: hsla(262, 60%, 38%, 0.5);
    --color-primary-5-50: hsla(262, 48%, 46%, 0.5);
    --color-primary-6-50: hsla(262, 43%, 51%, 0.5);
    --color-primary-7-50: hsla(261, 47%, 58%, 0.5);
    --color-primary-8-50: hsla(261, 54%, 68%, 0.5);
    --color-primary-9-50: hsla(261, 68%, 84%, 0.5);
    --color-primary-10-50: hsla(262, 61%, 93%, 0.5);

    --color-neutral-1: hsl(42, 15%, 13%);
    --color-neutral-2: hsl(40, 13%, 23%);
    --color-neutral-3: hsl(37, 11%, 28%);
    --color-neutral-4: hsl(41, 9%, 35%);
    --color-neutral-5: hsl(41, 8%, 48%);
    --color-neutral-6: hsl(41, 8%, 61%);
    --color-neutral-7: hsl(39, 11%, 69%);
    --color-neutral-8: hsl(40, 15%, 80%);
    --color-neutral-9: hsl(43, 13%, 90%);
    --color-neutral-10: hsl(40, 23%, 97%);

    --color-neutral-1-50: hsla(42, 15%, 13%, 0.5);
    --color-neutral-2-50: hsla(40, 13%, 23%, 0.5);
    --color-neutral-3-50: hsla(37, 11%, 28%, 0.5);
    --color-neutral-4-50: hsla(41, 9%, 35%, 0.5);
    --color-neutral-5-50: hsla(41, 8%, 48%, 0.5);
    --color-neutral-6-50: hsla(41, 8%, 61%, 0.5);
    --color-neutral-7-50: hsla(39, 11%, 69%, 0.5);
    --color-neutral-8-50: hsla(40, 15%, 80%, 0.5);
    --color-neutral-9-50: hsla(43, 13%, 90%, 0.5);
    --color-neutral-10-50: hsla(40, 23%, 97%, 0.5);

    --color-info-1: hsl(184, 91%, 17%);
    --color-info-2: hsl(185, 84%, 25%);
    --color-info-3: hsl(185, 81%, 29%);
    --color-info-4: hsl(184, 77%, 34%);
    --color-info-5: hsl(185, 62%, 45%);
    --color-info-6: hsl(185, 57%, 50%);
    --color-info-7: hsl(184, 65%, 59%);
    --color-info-8: hsl(184, 80%, 74%);
    --color-info-9: hsl(185, 94%, 87%);
    --color-info-10: hsl(186, 100%, 94%);

    --color-info-1-50: hsla(184, 91%, 17%, 0.5);
    --color-info-2-50: hsla(185, 84%, 25%, 0.5);
    --color-info-3-50: hsla(185, 81%, 29%, 0.5);
    --color-info-4-50: hsla(184, 77%, 34%, 0.5);
    --color-info-5-50: hsla(185, 62%, 45%, 0.5);
    --color-info-6-50: hsla(185, 57%, 50%, 0.5);
    --color-info-7-50: hsla(184, 65%, 59%, 0.5);
    --color-info-8-50: hsla(184, 80%, 74%, 0.5);
    --color-info-9-50: hsla(185, 94%, 87%, 0.5);
    --color-info-10-50: hsla(186, 100%, 94%, 0.5);

    --color-success-1: hsl(125, 97%, 14%);
    --color-success-2: hsl(125, 86%, 20%);
    --color-success-3: hsl(125, 79%, 26%);
    --color-success-4: hsl(122, 80%, 29%);
    --color-success-5: hsl(122, 73%, 35%);
    --color-success-6: hsl(123, 57%, 45%);
    --color-success-7: hsl(123, 53%, 55%);
    --color-success-8: hsl(124, 63%, 74%);
    --color-success-9: hsl(127, 65%, 85%);
    --color-success-10: hsl(125, 65%, 93%);

    --color-success-1-50: hsla(125, 97%, 14%, 0.5);
    --color-success-2-50: hsla(125, 86%, 20%, 0.5);
    --color-success-3-50: hsla(125, 79%, 26%, 0.5);
    --color-success-4-50: hsla(122, 80%, 29%, 0.5);
    --color-success-5-50: hsla(122, 73%, 35%, 0.5);
    --color-success-6-50: hsla(123, 57%, 45%, 0.5);
    --color-success-7-50: hsla(123, 53%, 55%, 0.5);
    --color-success-8-50: hsla(124, 63%, 74%, 0.5);
    --color-success-9-50: hsla(127, 65%, 85%, 0.5);
    --color-success-10-50: hsla(125, 65%, 93%, 0.5);

    --color-error-1: hsl(348, 94%, 20%);
    --color-error-2: hsl(350, 94%, 28%);
    --color-error-3: hsl(352, 90%, 35%);
    --color-error-4: hsl(354, 85%, 44%);
    --color-error-5: hsl(356, 75%, 53%);
    --color-error-6: hsl(360, 83%, 62%);
    --color-error-7: hsl(360, 91%, 69%);
    --color-error-8: hsl(360, 100%, 80%);
    --color-error-9: hsl(360, 100%, 87%);
    --color-error-10: hsl(360, 100%, 95%);

    --color-error-1-50: hsla(348, 94%, 20%, 0.5);
    --color-error-2-50: hsla(350, 94%, 28%, 0.5);
    --color-error-3-50: hsla(352, 90%, 35%, 0.5);
    --color-error-4-50: hsla(354, 85%, 44%, 0.5);
    --color-error-5-50: hsla(356, 75%, 53%, 0.5);
    --color-error-6-50: hsla(360, 83%, 62%, 0.5);
    --color-error-7-50: hsla(360, 91%, 69%, 0.5);
    --color-error-8-50: hsla(360, 100%, 80%, 0.5);
    --color-error-9-50: hsla(360, 100%, 87%, 0.5);
    --color-error-10-50: hsla(360, 100%, 95%, 0.5);

    --color-warning-1: hsl(43, 86%, 17%);
    --color-warning-2: hsl(43, 77%, 27%);
    --color-warning-3: hsl(43, 72%, 37%);
    --color-warning-4: hsl(42, 63%, 48%);
    --color-warning-5: hsl(42, 78%, 60%);
    --color-warning-6: hsl(43, 89%, 70%);
    --color-warning-7: hsl(43, 90%, 76%);
    --color-warning-8: hsl(45, 86%, 81%);
    --color-warning-9: hsl(45, 90%, 88%);
    --color-warning-10: hsl(45, 100%, 96%);

    --color-warning-1-50: hsla(43, 86%, 17%, 0.5);
    --color-warning-2-50: hsla(43, 77%, 27%, 0.5);
    --color-warning-3-50: hsla(43, 72%, 37%, 0.5);
    --color-warning-4-50: hsla(42, 63%, 48%, 0.5);
    --color-warning-5-50: hsla(42, 78%, 60%, 0.5);
    --color-warning-6-50: hsla(43, 89%, 70%, 0.5);
    --color-warning-7-50: hsla(43, 90%, 76%, 0.5);
    --color-warning-8-50: hsla(45, 86%, 81%, 0.5);
    --color-warning-9-50: hsla(45, 90%, 88%, 0.5);
    --color-warning-10-50: hsla(45, 100%, 96%, 0.5);

    /* Animations and transitions */
    --transition: 90ms ease-in-out;
}
