form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--spacing-medium);

    max-width: 400px;
    width: 100%;

    label {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    input[type="submit"] {
        width: fit-content;
        padding: var(--spacing-xs) var(--spacing-large);
    }

    span {
        display: flex;
        gap: var(--spacing-small);

        align-items: center;
        width: fit-content;
    }
}
