nav {
    flex-basis: var(--size-2);
    transition: var(--transition);
    padding: var(--size-3);
    background-color: var(--color-neutral-8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-3);

        a {
            transition: var(--transition);
            color: var(--color-neutral-1);
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            width: 100%;

            padding-top: var(--size-2);
            padding-bottom: var(--size-2);
            padding-left: 1rem;
            padding-right: var(--size-3);

            border-radius: var(--size-1);

            &:hover:not(.active) {
                background-color: var(--color-neutral-9);
            }

            &:last-of-type {
                margin-bottom: var(--size-3);
            }
        }

        .active {
            background-color: var(--color-neutral-5);
            color: var(--color-neutral-10);
        }

        .logo {
            margin-bottom: auto;
        }

        button {
            margin-top: auto;
        }
    }
}

@media (max-width: 768px) {
    nav {
        z-index: 2;
        will-change: transform;

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        transform: translateY(87.5vh);

        width: var(--size-7);
        height: var(--size-7);

        margin: 0 auto;

        padding: var(--size-0);
        background-color: transparent;

        .logo {
            max-width: var(--size-7);
            display: block;
            margin-bottom: auto;
        }
        button {
            margin-top: auto;
            display: none;
        }

        .nav-links {
            width: 100%;
            display: none;
        }
        &.nav-open {
            transform: translateY(0vh);
            background-color: var(--color-neutral-8);
            padding: var(--size-3);
            height: initial;
            width: 100%;

            .nav-links, button {
                display: flex;
            }
        }
    }
}
