nav {
    flex-basis: var(--size-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-medium);

    background-color: var(--color-neutral-8);
    padding: var(--spacing-medium);

    a {
        transition: var(--transition);
        color: var(--color-neutral-1);
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        width: 100%;

        padding-top: var(--spacing-small);
        padding-bottom: var(--spacing-small);
        padding-left: 1rem;
        padding-right: var(--spacing-medium);

        border-radius: var(--spacing-xs);

        &:hover:not(.active) {
            background-color: var(--color-neutral-9);
        }

        &:last-of-type {
            margin-bottom: var(--size-3);
        }
    }

    .active {
        background-color: var(--color-neutral-5);
        color: var(--color-neutral-10);
    }

    .logo {
        margin-bottom: auto;
    }

    button {
        margin-top: auto;
    }
}
