/* App global styles */

html {
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

main {
    min-height: 100%;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    letter-spacing: 1.5px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a:not(nav a) {
    color: var(--color-info-dark);
    text-decoration-color: var(--color-info-dark);
    text-decoration-thickness: var(--spacing-xs);

    &:hover {
        color: var(--color-info-base);
        text-decoration-color: var(--color-info-base);
    }
}

button,
input[type="submit"] {
    border: none;
    cursor: pointer;
    border-radius: var(--spacing-xs);
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--spacing-medium);

    width: 100%;
    max-width: 400px;

    label {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    input:not(input[type="submit"]) {
        padding: var(--spacing-small);
        border-radius: var(--spacing-xs);
        border: none;
        box-shadow: 1px 1px 3px 0 #00000040;
        border-left: 4px solid transparent;

        &:focus {
            border-color: var(--color-info-base);
            background-color: var(--color-info-light);
            box-shadow: 1px 1px 3px 0 var(--color-info-dark-50);
            outline: none;
        }
    }

    input[type="submit"] {
        width: fit-content;
        padding: var(--spacing-xs) var(--spacing-large);
    }

    span {
        display: flex;
        gap: var(--spacing-small);

        align-items: center;
        width: fit-content;
    }

    label.zod-error {
        color: var(--color-error-base) !important;

        input {
            color: var(--color-error-dark) !important;
            border-color: var(--color-error-base) !important;
            background-color: var(--color-error-light) !important;
            box-shadow: 1px 1px 3px 0 var(--color-error-dark-50) !important;
        }
    }
}
