*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    transition: 125ms ease-in-out;
    color: #222222;
    background-color: #eeeeee;
}

header {
    max-width: 125px;
    width: 100%;
    padding: 1rem;
    background-color: #aaaaaa80;
}

main {
    flex-basis: 100%;
    padding: 1rem;
}
h1,
h2,
h3,
h4 {
    line-height: 1.2;
    margin: 0.5em auto;
}
p {
    max-width: 720px;
    line-height: 1.62;
}

button,
label,
input,
select,
textarea,
optgroup,
option {
    font-size: inherit;
    color: inherit;
}

a {
    color: inherit;
    transition: color 125ms ease-in-out;
    font-style: italic;

    &:hover {
        color: steelblue;
    }
}

input[type="submit"],
button {
    padding: 0.33rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 1px 1px 3px 0 #22222260;
    

    &:hover {
        box-shadow: 3px 3px 5px 0 #22222260;
        translate: -2px -2px;
    }

    &:active {
        box-shadow: 1px 1px 3px 0 #22222260;
        background-color: #eeeeee;
    }
}

form {
    display: grid;
    gap: 1rem;
    max-width: 420px;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    input {
        padding: 0.33rem 0.5rem;
        border-radius: 0.25rem;
        border: none;
        box-shadow: inset 1px 1px 3px 0 #22222260;
        background-color: #fcfcfc60;
    }

    .form-links {
        display: flex;
        flex-direction: column;

        a {
            display: block;
        }
    }
}

* {
    &:focus-visible {
        outline: 2px solid steelblue;
        outline-offset: 0.1rem;
        border-radius: 0.1rem;
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;

    .logo {
        margin-bottom: auto;
        width: 100%;
        aspect-ratio: 1;
    }
    a {
        text-decoration: none;
        font-style: normal;

        &:last-of-type {
            margin-bottom: auto;
        }

        &.active {
            color: steelblue;
            font-weight: bold
        }
    }
}
