@import "./variables.css";

/* Reset & Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

    &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 0.1rem;
        border-radius: var(--radius-sm);
    }
}

/* Base styles */
html {
    font-family: var(--font-sans);
    font-size: 1rem;
    color: #222222;
    background-color: #eeeeee;
    transition: 125ms ease-in-out;

    h1,
    h2,
    h3,
    h4 {
        line-height: var(--line-height-sm);
        margin: 0.5em auto;
        font-family: var(--font-serif);
    }

    p {
        max-width: var(--max-width-text);
        line-height: var(--line-height-md);
    }
}

/* Typography & forms */
button,
label,
input,
select,
textarea,
optgroup,
option {
    font-size: inherit;
    color: inherit;
}

/* Links */
a {
    color: inherit;
    font-style: italic;
    transition: var(--transition);

    &:hover,
    &.active {
        color: var(--color-primary);
    }
}

/* Buttons */
input[type="submit"],
button {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-sm);
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow-active);
        translate: -2px -2px;
    }

    &:active {
        box-shadow: var(--box-shadow);
        background-color: var(--color-surface);
    }

    &:disabled {
        box-shadow: inset var(--box-shadow) !important;
        translate: 0 0;
        cursor: default;
        background-color: var(--color-disabled);
        opacity: 0.75;
    }
}

/* Forms */
form {
    display: grid;
    column-gap: var(--spacing-lg);
    row-gap: var(--spacing-md);

    label {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    input {
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--radius-sm);
        border: none;
        box-shadow: inset var(--box-shadow);
        background-color: var(--color-bg-alt);
    }

    .input-error {
        color: var(--color-error);
        input {
            outline-color: var(--color-error);
            background-color: var(--color-error-bg);
        }
    }

    .form-links {
        display: flex;
        flex-direction: column;

        a {
            display: block;
        }
    }
}
