.appLayout {
    display: flex;

    min-height: 100dvh;
    width: 100%;

    img {
        object-fit: cover;
        object-position: 50% 25%;
    }
}

@media (max-width: 720px) {
    .appHeader {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 100%;

        nav {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        a {
            margin-bottom: 0 !important;
            flex-basis: 20%;
        }
    }
}
