.appLayout {
    display: flex;
    min-height: 100dvh;
    width: 100%;
}

.appHeader {
    max-width: 125px;
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--color-primary-bg);
    z-index: var(--z-mid);
}

main {
    flex-basis: 100%;
    padding: var(--spacing-md);
}

@media (max-width: 720px) {
    .appHeader {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 100%;
        padding: var(--spacing-sm);
    }

    main {
        margin-bottom: var(--spacing-xl);
    }
}
