.appNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    height: 100%;
    font-size: var(--font-size-xxl);
    color: var(--color-primary-dark);

    a:not(:has(img)) {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            color: var(--color-primary-hover);
        }
    }
}

.logoLink {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    border-radius: 50rem;

    img {
        margin: auto;
        width: 90%;
        aspect-ratio: 1;
        border-radius: 50rem;
        object-fit: cover;
        object-position: 50% 25%;
    }
}

.logoutButton {
    margin-top: auto;
    box-shadow: none !important;
    background-color: transparent !important;
    aspect-ratio: 1;

    &:hover {
        translate: 0px 0px !important;
        color: var(--color-primary);
    }
}

@media (max-width: 720px) {
    .appNavigation {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoLink {
        display: none;
    }

    .logoutButton {
        margin-top: 0;
        padding: 0;
    }
}
